
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap');


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'poppins', sans-serif;
}

:root{
    --primary: rgb(101, 225, 239);
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
}

main{
   width: clamp(20rem, 75%, 55rem);
}

/* header */
header{
    width: 100%;
    background-color: var(--primary);
}

ul > * {
    margin: 0 clamp(1.35rem, 4vw, 3rem);
}

ul{
    display: flex;
    padding: 1rem 0;
}

header ul li{
    list-style: none;
}

header ul li a{
     color:#fff;
     font-weight: 600;
     text-decoration: none;
}

header ul li a:hover{
    text-decoration: underline;
}

table{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

table tr{
    gap: 1rem;
}

table th, table td{
    background-color: aliceblue;
    padding: 0.8rem 0.45rem;
}

table th{
    border: 1px solid var(--primary);;
    border-bottom: 0.5rem solid var(--primary);;
    padding: 1.25rem 0.5rem;
    font-size: 1.125rem;
}

table td i{
    padding-left: 0.3rem;
    font-size: 1.05rem;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #eaeaea;
}

/* animation */

section.textroll-section{
    background-color: #c5e37e;
}

.wrapperRollingText {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    white-space: nowrap;
}

.rollingText {
    display: flex;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-size: 8em;
}

.name-wrap {
    display: inline-flex;
    align-items: center;
    margin-top: 40vh;
    white-space: nowrap;
}

.name-wrap h1 {
    white-space: nowrap;
    margin: 0;
}


/* Magnetic button */

section.testing-buttons{
    background-color: antiquewhite;
    height: 10rem;
}

section.testing-buttons .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#magnet-button {
  display: inline-block;
}

.my-button {
  background-color: #FFF;
  padding: 1rem;
  border-radius: 10%;
  border: 1px solid #000;
  cursor: pointer;
}

.my-button:hover {
  color: #FFF;
  background-color: #000;
  transition: 0.5s background-color, 0.5s box-shadow;
  box-shadow: 0px 2px 25px rgba(0,0,0,0.5);
}


@media(min-width:1070px){
    table td{
        width: 20rem;
    }
}

@media(max-width:770px){
   table th, table td{
        font-size: 0.8rem;
        padding: 1rem 0.25rem;
   }

   main {
        width: 88%;
    }
}